body {
    margin: 0;
}

/* Baggrundsbillede */
#queue {
    margin-top: 4%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    opacity: .8;
}

/* logo */
#logo {
    vertical-align: top;
    margin-left: 40%;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 20%;
}

/* how it works billede */
#howItWorks {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4%;
    width: 90%;
}

/* navigationsbar */
.menu {
    width: 100%;
    height: 60px;
    background-color: indianred;
    opacity: .9;
    line-height: 60px;
    text-align: center;
    font-size: 20px;
    font-family: "Quicksand", sans-serif;

}
ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
ul li {
    float: left;
    width: 200px;
    height: 20%;
}
ul li a {
    text-decoration: none;
    color: burlywood;
    display: block;
}
ul li a:hover {
    color: white;
    font-weight: bold;
}
ul li ul li {
    display: none;
    background-color: indianred;
    opacity: .9;
}
ul li:hover ul li {
    display: block;
}

/* søgefunktion */
.search-box {
    /*position: absolute;*/
    margin-top: 0.5%;
    margin-right: 1%;
    float: right;
    /*transform: translate(-50%,-50%);*/
    background: burlywood;
    border-radius: 40px;
    padding: 0.25%;
}
.search-box:hover > .search-txt{
    width: 240px;
    padding: 0 6px;
}
.search-box:hover > .search-btn{
    color: white;
}

.search-btn {
    color: indianred;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: burlywood;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

.search-txt{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
}

/* Kurv */
.kurv {
    margin-top: 0.5%;
    margin-right: 1%;
    float: right;
    /*transform: translate(-50%,-50%);*/
    background: burlywood;
    border-radius: 40px;
    padding: 0.60%;
    color: indianred;
}
.kurv:hover {
    color: white;
}
h2 {
    font-family: "Quicksand", sans-serif;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    color: burlywood;
    margin-top: 8.5%;
    margin-right: 4%;
    margin-left: 4%;
    opacity: 0.9;
}


h1 {
    display: block;
    background-color: indianred;
    font-family: "Quicksand", sans-serif;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    color: burlywood;
    margin-top: 8.5%;
    margin-right: 4%;
    margin-left: 4%;
    opacity: 0.9;
}