body {
    margin: 0;
    padding-top: 80px;
}

.show-cart li {
    display-inside: flex;
}

.card {
    margin-bottom: 20px;
}

.card-img-top {
    align-self: center;
}

/* logo */
#logo {
    vertical-align: top;
    margin-left: 40%;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 20%;
}

/* navigationsbar */
.menu {
    width: 100%;
    height: 60px;
    background-color: indianred;
    opacity: .9;
    line-height: 60px;
    text-align: center;
    font-size: 20px;
    font-family: "Quicksand", sans-serif;
}
ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
ul li {
    float: left;
    width: 200px;
    height: 60px;
}
ul li a {
    text-decoration: none;
    color: burlywood;
    display: block;
}
ul li a:hover {
    color: white;
    font-weight: bold;
}
ul li ul li {
    display: none;
    background-color: indianred;
    opacity: .9;
}
ul li:hover ul li {
    display: block;
}

/* søgefunktion */
.search-box {
    /*position: absolute;*/
    margin-top: 0.5%;
    margin-right: 1%;
    float: right;
    /*transform: translate(-50%,-50%);*/
    background: burlywood;
    border-radius: 40px;
    padding: 0.25%;
}
.search-box:hover > .search-txt{
    width: 240px;
    padding: 0 6px;
}
.search-box:hover > .search-btn{
    color: white;
}

.search-btn {
    color: indianred;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: burlywood;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

.search-txt{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
}

/* Kurv */
.kurv {
    margin-top: 0.5%;
    margin-right: 1%;
    float: right;
    /*transform: translate(-50%,-50%);*/
    background: burlywood;
    border-radius: 40px;
    padding: 0.60%;
}

#festival {
    text-align: center;
    font-family: "Quicksand", sans-serif;
    margin-top: 1%;
    font-size: 23px;
    color: burlywood;
}

/* billeder af linestanders*/
.column {
    width: 1170px;
    margin: 4% auto;
}
/*Teksen til billedet*/
.beskrivelse {
    text-align: center;
    margin-bottom: 30px;
}
/*Boksen rundt om billede og tekst*/
.card-img-top {
     width: 100%;
     height: auto;
     float: left;
     box-shadow: 5px 5px 15px #000000;
     position: relative;
     display: block;
     overflow: hidden;
     padding: 15px;
     text-align: center;
     margin: 10px 70px;
     background: floralwhite;
 }
/*Billede i boks*/
.card-img-top img{
    width: 100%;
}
/*Navn (overskrift)*/
.lineStanders h3 {
    margin: 0;
    font-size: 20px;
    color: #000000;
}
/*Mangler hover effekt*/
.lineStanders:hover {
    border-color: #d04f81;
}




/* linestander 1: Boksen rundt om billede og tekst*/
.lineStanders1 {
    width: 35%;
    height: auto;
    float: left;
    box-shadow: 5px 5px 15px #000000;
    position: relative;
    display: block;
    overflow: hidden;
    padding: 15px;
    text-align: center;
    margin: 10px 70px;
    background: floralwhite;
}
/*Billede i boks*/
.lineStanders1 img{
    width: 100%;
}
/*Navn (overskrift)*/
.lineStanders1 h3 {
    margin: 0;
    font-size: 20px;
    color: #000000;
}
/*Mangler hover effekt*/
.lineStanders1:hover {
    border-color: #d04f81;
}

/* linestander 2: Boksen rundt om billede og tekst*/
.lineStanders2 {
    width: 35%;
    height: auto;
    float: left;
    box-shadow: 5px 5px 15px #000000;
    position: relative;
    display: block;
    overflow: hidden;
    padding: 15px;
    text-align: center;
    margin: 10px 70px;
    background: floralwhite;
}
/*Billede i boks*/
.lineStanders2 img{
    width: 100%;
}
/*Navn (overskrift)*/
.lineStanders2 h3 {
    margin: 0;
    font-size: 20px;
    color: #000000;
}
/*Mangler hover effekt*/
.lineStanders2:hover {
    border-color: #d04f81;
}

/* linestander 3: Boksen rundt om billede og tekst*/
.lineStanders3 {
    width: 35%;
    height: auto;
    float: left;
    box-shadow: 5px 5px 15px #000000;
    position: relative;
    display: block;
    overflow: hidden;
    padding: 15px;
    text-align: center;
    margin: 10px 70px;
    background: floralwhite;
}
/*Billede i boks*/
.lineStanders3 img{
    width: 100%;
}
/*Navn (overskrift)*/
.lineStanders3 h3 {
    margin: 0;
    font-size: 20px;
    color: #000000;
}
/*Mangler hover effekt*/
.lineStanders3:hover {
    border-color: #d04f81;
}

